/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

/* Estilos Generales */
.container {
    padding-top: 50px;
                padding-bottom: 20px;
}

.button1 {
    background-color: #204183;
    color: #fff;
    font-size: 110%;
    padding: 10px;
    transition: .3s ease-out;
    display: inline-block;
    margin-top: 10px;
}

.button1:hover, .button1:focus {
    background-color: rgba(0, 150, 67, 1);
    color: #fff;
    text-decoration: none;
}

/* Custom Nav */
#custom-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    
}
#custom-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(32, 65, 131, 1);
    border-bottom-width: 0px;
}
#custom-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(32, 65, 131, 1);
}
#custom-menu.navbar-default .navbar-nav>li>a:hover,
#custom-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 150, 67, 1);
    transition: .2s ease-in;
}
#custom-menu.navbar-default .navbar-nav>.active>a,
#custom-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 150, 67, 1);
    transition: .2s ease-in;
}
#custom-menu.navbar-default .navbar-toggle {
    border-color: #fff;
    border-radius: 0px;
}
#custom-menu.navbar-default .navbar-toggle:hover,
#custom-menu.navbar-default .navbar-toggle:focus {
    background-color: #fff;
    transition: .2s ease-in;
}
#custom-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#custom-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #204183;
    transition: .2s ease-in;
}

/* Jumbotron */
.jumbotron {
    min-height: 500px;
}

#main-title {
    
}

#logo {
    max-width: 175px;
    min-width: 117px;
}

#cta {
    background-color: #204183;
    color: #fff;
    font-size: 120%;
    padding: 20px;
    transition: .3s ease-out;
    display: inline-block;
    margin-top: 10px;
}

#cta:hover, #cta:focus {
    background-color: rgba(0, 150, 67, 1);
    text-decoration: none;
}

#myCarousel {
    max-width: 675px;
    margin: 10px auto;
}

#myCarousel .carousel-caption {
    padding: 25px;
    background-color: rgba(0,0,0,.5);
}








.jumbotron {
    background-image: url(../img/hero.jpg);
    background-color: rgba(0,0,0,.5);
    background-blend-mode: color;
    background-size: cover;
    color: white;
}
